# Python compiled files
__pycache__/

# macOS system files
.DS_Store
**/.DS_Store

# catboost info directories
**/catboost_info/

# Jupyter notebook checkpoints
examples/.ipynb_checkpoints/

# mlflow runs
mlflow/*
mlruns/

# Local environment
.env
.venv
env/
venv/
ENV/

# Test outputs
tests/resources/output/
